@import url("./fonts.css");
.title{
    font-size: 2rem;
    padding-left: 1rem;
}

#recipes_container{
    text-align: center;
    margin: auto;
    display: block;
    justify-content: center;
    font-size: 3rem;
}